@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Catamaran:wght@700&family=Lato:wght@300;400;700&family=Russo+One&family=Signika:wght@700&display=swap");
header h2, main .recomendados h2, main .moda .moda-contenedor div a img, .calzado-pag .calzado-contenedor .productos, .indumentaria-pag .indumentaria-contenedor .productos, .indumentaria-pag .indumentaria-contenedor .productos a .precios-contenedor, .accesorios-pag .accesorios-contenedor .productos, .rebajas-pag .rebajas-contenedor .imagenes-rebajas, .contactos-pag .contactos-formulario div, footer .suscripcion .suscripcion-mail {
  display: flex;
  justify-content: center;
  align-items: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 5; }
  header h2 {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    background-color: black;
    height: 40px; }
  header div {
    width: 100%;
    height: 57px;
    text-align: center;
    justify-content: center; }
    header div a {
      text-decoration: none;
      font-size: 30px; }
      header div a h1 {
        width: 100%;
        height: auto;
        font-weight: 600;
        font-size: 50px;
        font-family: 'Lato', sans-serif;
        color: black; }
  header nav div {
    width: auto;
    height: auto; }
    header nav div #navbarSupportedContent ul {
      font-size: 18px;
      color: black; }
      header nav div #navbarSupportedContent ul li ul li .dropdown-item {
        font-size: 15px; }
      header nav div #navbarSupportedContent ul li a:hover {
        color: #FF2931; }
      header nav div #navbarSupportedContent ul form input {
        font-size: 18px;
        color: black; }
      header nav div #navbarSupportedContent ul form button {
        font-size: 18px;
        color: black;
        border-color: black; }

main .rebajas-img a .rebajas-60 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto; }

main .rebajas-img a .nuevas-rebajas {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto; }

main .marcas {
  text-align: center; }
  main .marcas div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
    height: 330px; }
    main .marcas div a {
      width: auto;
      height: auto; }
      main .marcas div a img {
        background-color: white;
        width: 140px;
        height: 115px; }

main .recomendados {
  width: 100%; }
  main .recomendados h2 {
    width: 100%;
    height: 70px;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 35px; }
  main .recomendados .recomendados-contenedor {
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    main .recomendados .recomendados-contenedor div {
      width: 270px;
      margin-top: 10px; }
      main .recomendados .recomendados-contenedor div a {
        text-decoration: none;
        color: black;
        text-align: center;
        justify-content: center;
        width: auto;
        height: auto; }
        main .recomendados .recomendados-contenedor div a img {
          width: 170px;
          height: 170px;
          margin-bottom: 10px;
          margin-top: 10px; }
        main .recomendados .recomendados-contenedor div a h3 {
          width: 270px;
          height: 30px;
          text-align: center;
          justify-content: center;
          align-items: center;
          font-size: 15px; }
        main .recomendados .recomendados-contenedor div a div {
          width: auto;
          height: auto; }
          main .recomendados .recomendados-contenedor div a div strong {
            font-size: 16px; }
          main .recomendados .recomendados-contenedor div a div del {
            font-size: 15px; }

main .moda {
  width: 100%;
  margin-top: 100px; }
  main .moda div {
    width: 100%;
    margin-bottom: 30px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    main .moda div h2 {
      font-size: 35px;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      margin: 20px 20px 40px;
      margin: bottom 0; }
  main .moda .moda-contenedor {
    height: auto; }
    main .moda .moda-contenedor div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      width: 215px; }
      main .moda .moda-contenedor div a {
        width: 215px;
        text-align: center;
        text-decoration: none;
        color: black; }
        main .moda .moda-contenedor div a img {
          width: 215px;
          height: 215px;
          margin: top 0;
          object-fit: cover; }
        main .moda .moda-contenedor div a h3 {
          text-align: center;
          font-size: 17px;
          font-family: 'Lato', sans-serif;
          height: 30px;
          margin-bottom: 30px;
          margin-top: 20px;
          padding: 10px; }
        main .moda .moda-contenedor div a strong {
          font-size: 14px;
          margin-top: 3px; }

main .disciplinas {
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  height: auto; }
  main .disciplinas .disciplinas-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 60px; }
    main .disciplinas .disciplinas-contenedor div {
      justify-self: center;
      align-items: center;
      padding: 25px; }
      main .disciplinas .disciplinas-contenedor div a {
        gap: 10px;
        justify-content: center;
        align-items: center; }
        main .disciplinas .disciplinas-contenedor div a img {
          object-fit: cover;
          justify-self: center;
          align-items: center;
          width: 570px;
          height: 370px;
          transition: 0.5s;
          transition-delay: 0.05s;
          flex-wrap: wrap; }
        main .disciplinas .disciplinas-contenedor div a img:hover {
          transform: scale(1.05);
          box-shadow: 10px 10px 16px -7px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 10px 10px 16px -7px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 10px 10px 16px -7px rgba(0, 0, 0, 0.75); }

.calzado-pag {
  height: auto;
  display: flex;
  width: 100%;
  margin-top: 50px; }
  .calzado-pag .calzado-filtro {
    display: flex;
    flex-direction: column;
    width: 20%; }
    .calzado-pag .calzado-filtro div {
      width: 100%;
      margin-bottom: 30px; }
      .calzado-pag .calzado-filtro div h3 {
        font-size: 20px;
        margin-left: 30px; }
      .calzado-pag .calzado-filtro div ul {
        list-style: none; }
        .calzado-pag .calzado-filtro div ul li a {
          text-decoration: none;
          color: black; }
          .calzado-pag .calzado-filtro div ul li a p {
            font-size: 15px;
            margin: 3px; }
  .calzado-pag .calzado-contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px; }
    .calzado-pag .calzado-contenedor .productos {
      flex-direction: column;
      margin: 12px;
      padding: 3px; }
      .calzado-pag .calzado-contenedor .productos a {
        text-decoration: none;
        color: black;
        text-align: center;
        justify-content: center;
        width: 270px;
        height: auto; }
        .calzado-pag .calzado-contenedor .productos a img {
          width: 220px;
          height: 220px;
          text-align: center;
          justify-content: center; }
        .calzado-pag .calzado-contenedor .productos a h3 {
          text-align: center;
          justify-content: center;
          font-family: 'Lato', sans-serif;
          font-size: 14px;
          width: 270px;
          height: 20px;
          margin-top: 7px; }
        .calzado-pag .calzado-contenedor .productos a .precios-contenedor {
          height: 20px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-bottom: 10px; }
          .calzado-pag .calzado-contenedor .productos a .precios-contenedor strong {
            font-size: 13px;
            margin: 3px;
            margin-top: 10px; }
          .calzado-pag .calzado-contenedor .productos a .precios-contenedor del {
            font-size: 12px;
            margin: 3px;
            margin-top: 10px; }

.indumentaria-pag {
  display: flex;
  width: 100%;
  margin-top: 50px; }
  .indumentaria-pag .indumentaria-filtro {
    display: flex;
    flex-direction: column;
    width: 20%; }
    .indumentaria-pag .indumentaria-filtro div {
      width: 100%;
      margin-bottom: 30px; }
      .indumentaria-pag .indumentaria-filtro div h3 {
        font-size: 20px;
        margin-left: 30px; }
      .indumentaria-pag .indumentaria-filtro div ul {
        list-style: none; }
        .indumentaria-pag .indumentaria-filtro div ul li a {
          text-decoration: none;
          color: black; }
          .indumentaria-pag .indumentaria-filtro div ul li a p {
            font-size: 15px;
            margin: 3px; }
  .indumentaria-pag .indumentaria-contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px; }
    .indumentaria-pag .indumentaria-contenedor .productos {
      flex-direction: column;
      margin: 12px;
      padding: 3px; }
      .indumentaria-pag .indumentaria-contenedor .productos a {
        text-decoration: none;
        color: black;
        text-align: center;
        justify-content: center;
        width: 270px;
        height: auto; }
        .indumentaria-pag .indumentaria-contenedor .productos a img {
          width: 220px;
          height: 220px;
          text-align: center;
          justify-content: center; }
        .indumentaria-pag .indumentaria-contenedor .productos a h3 {
          text-align: center;
          justify-content: center;
          font-family: 'Lato', sans-serif;
          font-size: 14px;
          width: 270px;
          height: 20px;
          margin-top: 7px; }
        .indumentaria-pag .indumentaria-contenedor .productos a .precios-contenedor {
          height: 20px;
          flex-direction: row;
          margin-bottom: 5px; }
          .indumentaria-pag .indumentaria-contenedor .productos a .precios-contenedor strong {
            font-size: 13px;
            margin: 3px;
            margin-top: 10px; }
          .indumentaria-pag .indumentaria-contenedor .productos a .precios-contenedor del {
            font-size: 12px;
            margin: 3px;
            margin-top: 10px; }

.accesorios-pag {
  display: flex;
  width: 100%;
  margin-top: 50px; }
  .accesorios-pag .accesorios-filtro {
    display: flex;
    flex-direction: column;
    width: 20%; }
    .accesorios-pag .accesorios-filtro div {
      width: 100%;
      margin-bottom: 30px; }
      .accesorios-pag .accesorios-filtro div h3 {
        font-size: 20px;
        margin-left: 30px; }
      .accesorios-pag .accesorios-filtro div ul {
        list-style: none; }
        .accesorios-pag .accesorios-filtro div ul li a {
          text-decoration: none;
          color: black; }
          .accesorios-pag .accesorios-filtro div ul li a p {
            font-size: 15px;
            margin: 3px; }
  .accesorios-pag .accesorios-contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px; }
    .accesorios-pag .accesorios-contenedor .productos {
      flex-direction: column;
      margin: 12px;
      padding: 3px; }
      .accesorios-pag .accesorios-contenedor .productos a {
        text-decoration: none;
        color: black;
        text-align: center;
        justify-content: center;
        width: 270px;
        height: auto; }
        .accesorios-pag .accesorios-contenedor .productos a img {
          width: 220px;
          height: 220px;
          text-align: center;
          justify-content: center; }
        .accesorios-pag .accesorios-contenedor .productos a h3 {
          text-align: center;
          justify-content: center;
          font-family: 'Lato', sans-serif;
          font-size: 15px;
          width: auto;
          height: 20px;
          margin-top: 7px; }
        .accesorios-pag .accesorios-contenedor .productos a .precios-contenedor {
          height: 20px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-bottom: 5px; }
          .accesorios-pag .accesorios-contenedor .productos a .precios-contenedor strong {
            font-size: 14px;
            margin: 3px;
            margin-top: 10px; }
          .accesorios-pag .accesorios-contenedor .productos a .precios-contenedor del {
            font-size: 13px;
            margin: 3px;
            margin-top: 10px; }

.rebajas-pag {
  display: flex;
  width: 100%;
  margin-top: 50px; }
  .rebajas-pag .rebajas-filtro {
    display: flex;
    flex-direction: column;
    width: 20%; }
    .rebajas-pag .rebajas-filtro div {
      width: 100%;
      margin-bottom: 30px; }
      .rebajas-pag .rebajas-filtro div h3 {
        font-size: 20px;
        margin-left: 30px; }
      .rebajas-pag .rebajas-filtro div ul li {
        list-style: none; }
        .rebajas-pag .rebajas-filtro div ul li a {
          text-decoration: none;
          color: black; }
          .rebajas-pag .rebajas-filtro div ul li a p {
            font-size: 15px;
            margin: 3px; }
  .rebajas-pag .rebajas-contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px; }
    .rebajas-pag .rebajas-contenedor .imagenes-rebajas {
      flex-direction: column;
      margin: 12px;
      padding: 3px; }
      .rebajas-pag .rebajas-contenedor .imagenes-rebajas a {
        text-decoration: none;
        color: black;
        text-align: center;
        justify-content: center;
        width: 270px;
        height: auto; }
        .rebajas-pag .rebajas-contenedor .imagenes-rebajas a img {
          width: 220px;
          height: 220px;
          text-align: center;
          justify-content: center; }
        .rebajas-pag .rebajas-contenedor .imagenes-rebajas a .producto-rebaja {
          text-align: center;
          justify-content: center;
          font-family: 'Lato', sans-serif;
          font-size: 15px;
          width: auto;
          height: 20px;
          margin-top: 7px; }
        .rebajas-pag .rebajas-contenedor .imagenes-rebajas a .precios-contenedor {
          height: 20px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-bottom: 7px; }
          .rebajas-pag .rebajas-contenedor .imagenes-rebajas a .precios-contenedor strong {
            font-size: 14px;
            margin: 5px;
            margin-top: 10px; }
          .rebajas-pag .rebajas-contenedor .imagenes-rebajas a .precios-contenedor del {
            font-size: 13px;
            margin: 5px;
            margin-top: 10px; }
    .rebajas-pag .rebajas-contenedor .carousel-rebajas {
      width: 350px;
      height: 350px; }

.nosotros-pag .nosotros-contenedor {
  margin-top: 50px;
  margin-bottom: 170px;
  display: flex; }
  .nosotros-pag .nosotros-contenedor .nosotros-info {
    width: 75%; }
    .nosotros-pag .nosotros-contenedor .nosotros-info h3 {
      margin-left: 20px;
      font-size: 35px;
      font-family: 'Lato', sans-serif;
      font-weight: 600; }
    .nosotros-pag .nosotros-contenedor .nosotros-info p {
      margin-left: 20px;
      font-size: 20px;
      font-family: 'Lato', sans-serif; }
  .nosotros-pag .nosotros-contenedor .nosotros-lista {
    width: 25%; }
    .nosotros-pag .nosotros-contenedor .nosotros-lista ul {
      margin-top: 50px;
      margin-left: 40px; }
      .nosotros-pag .nosotros-contenedor .nosotros-lista ul li {
        list-style: circle; }
        .nosotros-pag .nosotros-contenedor .nosotros-lista ul li a {
          text-decoration: none; }
          .nosotros-pag .nosotros-contenedor .nosotros-lista ul li a p {
            color: black;
            font-size: 20px;
            font-family: 'Lato', sans-serif;
            font-weight: 600; }
          .nosotros-pag .nosotros-contenedor .nosotros-lista ul li a p:hover {
            color: #FF2931; }

.contactos-pag {
  margin-top: 50px;
  margin-bottom: 150px;
  font-family: 'Lato', sans-serif;
  display: flex; }
  .contactos-pag .contactos-formulario {
    width: 70%;
    float: left; }
    .contactos-pag .contactos-formulario div {
      padding: 5px; }
      .contactos-pag .contactos-formulario div b {
        width: 170px;
        margin-left: 30px;
        font-size: 20px; }
      .contactos-pag .contactos-formulario div input {
        width: 50%;
        height: 30px;
        margin-left: 30px;
        border: 1px solid #999999; }
      .contactos-pag .contactos-formulario div .enviar-contacto {
        width: 150px;
        margin-left: 225px;
        background-color: #FF2931;
        border: 1px solid black;
        color: black;
        border-radius: 5px; }
      .contactos-pag .contactos-formulario div textarea {
        width: 50%;
        margin-left: 30px;
        border: 1px solid #999999; }
      .contactos-pag .contactos-formulario div .enviar-contacto:hover {
        color: white;
        background-color: black; }
  .contactos-pag .contactos-info {
    width: 30%;
    float: right;
    margin-top: 10px;
    margin-right: 40px; }
    .contactos-pag .contactos-info div {
      width: auto; }
      .contactos-pag .contactos-info div h3 {
        font-size: 17px;
        font-family: 'Lato', sans-serif; }
    .contactos-pag .contactos-info div p {
      font-size: 15px;
      color: #999999; }
    .contactos-pag .contactos-info div address {
      font-size: 15px; }
    .contactos-pag .contactos-info .contacto-tel p {
      color: black; }
    .contactos-pag .contactos-info .contacto-email a {
      text-decoration: none; }
      .contactos-pag .contactos-info .contacto-email a p {
        color: black; }
    .contactos-pag .contactos-info .contacto-email a:hover p {
      color: #FF2931; }

footer .suscripcion {
  flex: 1 1 25%;
  margin: 10px; }
  footer .suscripcion .suscripcion-titulo h2 {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    justify-content: center; }
  footer .suscripcion .suscripcion-mail {
    font-size: 19px;
    font-family: 'Lato', sans-serif; }
    footer .suscripcion .suscripcion-mail form ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      width: 100%;
      justify-content: center; }
      footer .suscripcion .suscripcion-mail form ul li {
        margin: 2px;
        padding: 2px;
        height: 45px; }
        footer .suscripcion .suscripcion-mail form ul li .suscribite-footer {
          height: 45px;
          width: 380px; }
        footer .suscripcion .suscripcion-mail form ul li button {
          height: 45px;
          width: 120px;
          margin-left: 0;
          background-color: #FF2931;
          border: 1px solid black;
          color: black; }
        footer .suscripcion .suscripcion-mail form ul li button:hover {
          background-color: black;
          color: white; }

footer .footer-contenedor {
  display: grid;
  grid-template-columns: repeat 4, 25%;
  grid-template-areas: "footer footer footer footer" "footer footer footer footer";
  margin-bottom: 0;
  justify-content: space-around; }
  footer .footer-contenedor div {
    grid-area: "footer";
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    padding: 5px;
    margin: 10px;
    justify-content: center;
    width: 100%;
    height: 280px; }
    footer .footer-contenedor div h3 {
      margin-left: 12px;
      font-size: 20px;
      font-weight: 600; }
    footer .footer-contenedor div ul {
      list-style: none;
      margin: 5px;
      padding: 5px; }
      footer .footer-contenedor div ul li {
        margin: 5px; }
        footer .footer-contenedor div ul li a {
          text-decoration: none;
          color: black; }
          footer .footer-contenedor div ul li a p {
            font-size: 16px; }
          footer .footer-contenedor div ul li a p:hover {
            color: #FF2931; }
  footer .footer-contenedor .redes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 4px; }
    footer .footer-contenedor .redes h3 {
      font-family: 'Lato', sans-serif;
      width: auto;
      position: relative;
      text-align: center;
      justify-content: center;
      margin-bottom: 12px;
      margin-right: 15px; }
    footer .footer-contenedor .redes ul li {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      transition-duration: 0.7s;
      transition-delay: 0.2s; }
      footer .footer-contenedor .redes ul li a img {
        margin: 6px;
        width: 50px;
        height: 50px; }
      footer .footer-contenedor .redes ul li a img:hover {
        transform: scale(1.15); }

@media screen and (max-width: 1400px) {
  main .marcas div {
    width: auto;
    height: 300px;
    align-items: center;
    justify-content: space-evenly; }
    main .marcas div a {
      width: auto;
      height: auto; }
      main .marcas div a img {
        width: 120px;
        height: 95px; } }

@media screen and (max-width: 1320px) {
  .calzado-pag .calzado-contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px; }
    .calzado-pag .calzado-contenedor .productos {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 12px;
      padding: 3px; }
      .calzado-pag .calzado-contenedor .productos a {
        text-decoration: none;
        color: black;
        text-align: center;
        justify-content: center;
        width: 250px;
        height: auto; }
        .calzado-pag .calzado-contenedor .productos a img {
          width: 170px;
          height: 170px;
          text-align: center;
          justify-content: center; }
        .calzado-pag .calzado-contenedor .productos a h3 {
          text-align: center;
          justify-content: center;
          font-family: 'Lato', sans-serif;
          font-size: 13px;
          width: 220px;
          height: 10px; }
        .calzado-pag .calzado-contenedor .productos a .precios-contenedor {
          display: flex;
          flex-direction: row;
          margin-bottom: 5px; }
          .calzado-pag .calzado-contenedor .productos a .precios-contenedor strong {
            font-size: 12px; }
          .calzado-pag .calzado-contenedor .productos a .precios-contenedor del {
            font-size: 11px; }
  .indumentaria-pag .indumentaria-contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px; }
    .indumentaria-pag .indumentaria-contenedor .productos {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 12px;
      padding: 3px; }
      .indumentaria-pag .indumentaria-contenedor .productos a {
        text-decoration: none;
        color: black;
        text-align: center;
        justify-content: center;
        width: 250px;
        height: auto; }
        .indumentaria-pag .indumentaria-contenedor .productos a img {
          width: 170px;
          height: 170px;
          text-align: center;
          justify-content: center; }
        .indumentaria-pag .indumentaria-contenedor .productos a h3 {
          text-align: center;
          justify-content: center;
          font-family: 'Lato', sans-serif;
          font-size: 13px;
          width: 220px;
          height: 10px; }
        .indumentaria-pag .indumentaria-contenedor .productos a .precios-contenedor {
          display: flex;
          flex-direction: row;
          margin-bottom: 5px; }
          .indumentaria-pag .indumentaria-contenedor .productos a .precios-contenedor strong {
            font-size: 12px; }
          .indumentaria-pag .indumentaria-contenedor .productos a .precios-contenedor del {
            font-size: 11px; }
  .rebajas-pag .rebajas-contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px; }
    .rebajas-pag .rebajas-contenedor .imagenes-rebajas {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 12px;
      padding: 3px; }
      .rebajas-pag .rebajas-contenedor .imagenes-rebajas a {
        text-decoration: none;
        color: black;
        text-align: center;
        justify-content: center;
        width: 250px;
        height: auto; }
        .rebajas-pag .rebajas-contenedor .imagenes-rebajas a img {
          width: 170px;
          height: 170px;
          text-align: center;
          justify-content: center; }
        .rebajas-pag .rebajas-contenedor .imagenes-rebajas a .producto-rebaja {
          text-align: center;
          justify-content: center;
          font-family: 'Lato', sans-serif;
          font-size: 13px;
          width: 220px;
          height: 10px; }
        .rebajas-pag .rebajas-contenedor .imagenes-rebajas a .precios-contenedor {
          display: flex;
          flex-direction: row;
          margin-bottom: 5px; }
          .rebajas-pag .rebajas-contenedor .imagenes-rebajas a .precios-contenedor strong {
            font-size: 12px; }
          .rebajas-pag .rebajas-contenedor .imagenes-rebajas a .precios-contenedor del {
            font-size: 11px; }
  .accesorios-pag .accesorios-contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px; }
    .accesorios-pag .accesorios-contenedor .productos {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 12px;
      padding: 3px; }
      .accesorios-pag .accesorios-contenedor .productos a {
        text-decoration: none;
        color: black;
        text-align: center;
        justify-content: center;
        width: 250px;
        height: auto; }
        .accesorios-pag .accesorios-contenedor .productos a img {
          width: 170px;
          height: 170px;
          text-align: center;
          justify-content: center; }
        .accesorios-pag .accesorios-contenedor .productos a h3 {
          text-align: center;
          justify-content: center;
          font-family: 'Lato', sans-serif;
          font-size: 13px;
          width: 220px;
          height: 10px; }
        .accesorios-pag .accesorios-contenedor .productos a .precios-contenedor {
          display: flex;
          flex-direction: row;
          margin-bottom: 5px; }
          .accesorios-pag .accesorios-contenedor .productos a .precios-contenedor strong {
            font-size: 12px; }
          .accesorios-pag .accesorios-contenedor .productos a .precios-contenedor del {
            font-size: 11px; } }

@media screen and (max-width: 1230px) {
  main .recomendados .recomendados-contenedor {
    margin-top: 30px; }
    main .recomendados .recomendados-contenedor div {
      width: auto;
      height: auto; }
      main .recomendados .recomendados-contenedor div a {
        text-decoration: none;
        color: black;
        justify-content: center;
        align-items: center;
        height: 260px; }
        main .recomendados .recomendados-contenedor div a img {
          width: 160px;
          height: 160px;
          margin-bottom: 10px;
          margin-top: 10px; }
        main .recomendados .recomendados-contenedor div a h3 {
          font-family: 'Lato', sans-serif;
          margin: 10px 10px 10px 10px;
          font-size: 14px;
          width: 160px; }
        main .recomendados .recomendados-contenedor div a div {
          height: auto; }
          main .recomendados .recomendados-contenedor div a div strong {
            font-size: 13px; }
          main .recomendados .recomendados-contenedor div a div del {
            font-size: 12px; } }

@media screen and (max-width: 1200px) {
  main .moda {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap; }
    main .moda .moda-contenedor {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
      justify-content: center;
      align-items: center;
      width: 100%; }
      main .moda .moda-contenedor div {
        height: 320px;
        margin-bottom: 5px;
        justify-content: center;
        align-items: center;
        width: auto; }
        main .moda .moda-contenedor div a {
          justify-content: center;
          align-items: center;
          text-align: center; }
          main .moda .moda-contenedor div a img {
            height: 210px;
            width: 210px; }
          main .moda .moda-contenedor div a h3 {
            font-family: 'Lato', sans-serif;
            text-align: center;
            font-size: 14px;
            height: 15px; }
          main .moda .moda-contenedor div a div {
            justify-content: center;
            align-items: center;
            margin-top: 0; }
      main .moda .moda-contenedor div:nth-child(4) {
        display: none; }
  main .disciplinas {
    margin-bottom: 100px; }
    main .disciplinas .disciplinas-contenedor div {
      width: 380px;
      height: 240px;
      margin: 10px; }
      main .disciplinas .disciplinas-contenedor div a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; }
        main .disciplinas .disciplinas-contenedor div a img {
          display: flex;
          width: 380px;
          height: 240px;
          flex-wrap: wrap; }
  .contactos-pag {
    width: 100%; }
    .contactos-pag .contactos-formulario {
      flex-wrap: wrap;
      float: none;
      width: 70%; }
      .contactos-pag .contactos-formulario div {
        width: 100%;
        margin-left: 5px; }
        .contactos-pag .contactos-formulario div b {
          width: 100px;
          margin-left: 10px;
          font-size: 15px; }
        .contactos-pag .contactos-formulario div input {
          width: 50%;
          height: 30px;
          margin-left: 30px; }
        .contactos-pag .contactos-formulario div .enviar-contacto {
          margin-left: 150px; }
    .contactos-pag .contactos-info {
      float: none;
      width: 30%; } }

@media screen and (max-width: 1100px) {
  .calzado-pag .calzado-contenedor {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px; }
    .calzado-pag .calzado-contenedor .productos {
      width: 170px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 12px;
      padding: 3px; }
      .calzado-pag .calzado-contenedor .productos a {
        text-decoration: none;
        color: black;
        text-align: center;
        justify-content: center;
        width: 170px;
        height: auto; }
        .calzado-pag .calzado-contenedor .productos a img {
          width: 130px;
          height: 130px; }
        .calzado-pag .calzado-contenedor .productos a h3 {
          font-family: 'Lato', sans-serif;
          text-align: center;
          justify-content: center;
          font-size: 11px;
          width: 165px;
          height: 10px; }
        .calzado-pag .calzado-contenedor .productos a .precios-contenedor {
          display: flex;
          flex-direction: row;
          align-items: center; }
          .calzado-pag .calzado-contenedor .productos a .precios-contenedor strong {
            font-size: 9px;
            margin: 2px;
            margin-top: 5px; }
          .calzado-pag .calzado-contenedor .productos a .precios-contenedor del {
            font-size: 8px;
            margin: 2px;
            margin-top: 5px; }
  .indumentaria-pag .indumentaria-contenedor {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px; }
    .indumentaria-pag .indumentaria-contenedor .productos {
      width: 170px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 12px;
      padding: 3px; }
      .indumentaria-pag .indumentaria-contenedor .productos a {
        text-decoration: none;
        color: black;
        text-align: center;
        justify-content: center;
        width: 170px;
        height: auto; }
        .indumentaria-pag .indumentaria-contenedor .productos a img {
          width: 130px;
          height: 130px; }
        .indumentaria-pag .indumentaria-contenedor .productos a h3 {
          font-family: 'Lato', sans-serif;
          text-align: center;
          justify-content: center;
          font-size: 11px;
          width: 165px;
          height: 10px; }
        .indumentaria-pag .indumentaria-contenedor .productos a .precios-contenedor {
          display: flex;
          flex-direction: row;
          align-items: center; }
          .indumentaria-pag .indumentaria-contenedor .productos a .precios-contenedor strong {
            font-size: 9px;
            margin: 2px;
            margin-top: 5px; }
          .indumentaria-pag .indumentaria-contenedor .productos a .precios-contenedor del {
            font-size: 8px;
            margin: 2px;
            margin-top: 5px; }
  .accesorios-pag .accesorios-contenedor {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px; }
    .accesorios-pag .accesorios-contenedor .productos {
      width: 170px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 12px;
      padding: 3px; }
      .accesorios-pag .accesorios-contenedor .productos a {
        text-decoration: none;
        color: black;
        text-align: center;
        justify-content: center;
        width: 170px;
        height: auto; }
        .accesorios-pag .accesorios-contenedor .productos a img {
          width: 130px;
          height: 130px; }
        .accesorios-pag .accesorios-contenedor .productos a h3 {
          font-family: 'Lato', sans-serif;
          text-align: center;
          justify-content: center;
          font-size: 11px;
          width: 165px;
          height: 10px; }
        .accesorios-pag .accesorios-contenedor .productos a .precios-contenedor {
          display: flex;
          flex-direction: row;
          align-items: center; }
          .accesorios-pag .accesorios-contenedor .productos a .precios-contenedor strong {
            font-size: 9px;
            margin: 2px;
            margin-top: 5px; }
          .accesorios-pag .accesorios-contenedor .productos a .precios-contenedor del {
            font-size: 8px;
            margin: 2px;
            margin-top: 5px; }
  .rebajas-pag .rebajas-contenedor {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px; }
    .rebajas-pag .rebajas-contenedor .imagenes-rebajas {
      width: 170px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 12px;
      padding: 3px; }
      .rebajas-pag .rebajas-contenedor .imagenes-rebajas a {
        text-decoration: none;
        color: black;
        text-align: center;
        justify-content: center;
        width: 170px;
        height: auto; }
        .rebajas-pag .rebajas-contenedor .imagenes-rebajas a img {
          width: 130px;
          height: 130px; }
        .rebajas-pag .rebajas-contenedor .imagenes-rebajas a .producto-rebaja {
          font-family: 'Lato', sans-serif;
          text-align: center;
          justify-content: center;
          font-size: 11px;
          width: 165px;
          height: 10px; }
        .rebajas-pag .rebajas-contenedor .imagenes-rebajas a .precios-contenedor {
          display: flex;
          flex-direction: row;
          align-items: center; }
          .rebajas-pag .rebajas-contenedor .imagenes-rebajas a .precios-contenedor strong {
            font-size: 9px;
            margin: 2px;
            margin-top: 5px; }
          .rebajas-pag .rebajas-contenedor .imagenes-rebajas a .precios-contenedor del {
            font-size: 8px;
            margin: 2px;
            margin-top: 5px; }
    .rebajas-pag .rebajas-contenedor .carousel-rebajas {
      width: 230px;
      height: 230px; } }

@media screen and (max-width: 1050px) {
  main .recomendados h2 {
    font-size: 24px; }
  main .recomendados .recomendados-contenedor {
    display: flex;
    flex-direction: column; }
    main .recomendados .recomendados-contenedor div {
      width: auto;
      margin-top: 10px; }
      main .recomendados .recomendados-contenedor div a {
        text-decoration: none;
        color: black;
        justify-content: space-around;
        align-items: center;
        height: 280px; }
        main .recomendados .recomendados-contenedor div a img {
          width: 200px;
          height: 200px;
          margin-bottom: 10px;
          margin-top: 10px; }
        main .recomendados .recomendados-contenedor div a h3 {
          font-family: 'Lato', sans-serif;
          margin: 10px 10px 10px 10px;
          font-size: 14px;
          width: auto; }
          main .recomendados .recomendados-contenedor div a h3 div {
            height: auto; }
            main .recomendados .recomendados-contenedor div a h3 div strong {
              font-size: 12px; }
            main .recomendados .recomendados-contenedor div a h3 div del {
              font-size: 10px; }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap; }
    footer div {
      width: 100%; }
    footer .footer-contenedor {
      justify-content: space-evenly; }
      footer .footer-contenedor div {
        width: 100%; }
      footer .footer-contenedor .redes {
        margin-top: 20px; } }

@media screen and (max-width: 1000px) {
  header h2 {
    font-family: 'Lato', sans-serif; }
    header h2 div {
      justify-content: space-between; } }

@media screen and (max-width: 991px) {
  .rebajas-pag .rebajas-contenedor .carousel-rebajas {
    width: 250px;
    height: 250px; } }

@media screen and (max-width: 990px) {
  .calzado-pag .calzado-filtro {
    display: none; }
  .indumentaria-pag .indumentaria-filtro {
    display: none; }
  .accesorios-pag .accesorios-filtro {
    display: none; }
  .rebajas-pag .rebajas-filtro {
    display: none; }
  .rebajas-pag .rebajas-contenedor .carousel-rebajas {
    width: 200px;
    height: 200px; } }

@media screen and (max-width: 900px) {
  .rebajas-pag .rebajas-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    height: auto; }
    .rebajas-pag .rebajas-img a .nuevas-rebajas {
      display: flex;
      flex-wrap: wrap;
      width: 500px;
      height: 500px; }
    .rebajas-pag .rebajas-img a .rebajas-60 {
      display: none; }
  .nosotros-pag .nosotros-contenedor {
    display: flex;
    flex-direction: column; }
    .nosotros-pag .nosotros-contenedor .nosotros-info {
      width: 100%;
      justify-content: center;
      align-items: center; }
    .nosotros-pag .nosotros-contenedor .nosotros-lista {
      display: none; } }

@media screen and (max-width: 850px) {
  main .disciplinas .disciplinas-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    main .disciplinas .disciplinas-contenedor div a {
      gap: 5px; }
      main .disciplinas .disciplinas-contenedor div a img {
        width: 340px;
        height: 210px;
        padding: 5px; }
  .contactos-pag {
    display: flex;
    flex-direction: column; }
    .contactos-pag .contactos-formulario {
      width: 100%; }
      .contactos-pag .contactos-formulario div b {
        margin: 5px;
        width: 150px;
        justify-content: center; }
      .contactos-pag .contactos-formulario div input {
        width: 400px;
        margin: 6px; }
      .contactos-pag .contactos-formulario div textarea {
        width: 400px;
        margin-left: 0;
        margin: 6px; }
      .contactos-pag .contactos-formulario div .enviar-contacto {
        margin-left: 170px; }
    .contactos-pag .contactos-info {
      width: 100%; }
      .contactos-pag .contactos-info .contactos-info-contenedor {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: 40px; }
        .contactos-pag .contactos-info .contactos-info-contenedor h3 {
          justify-content: center; }
          .contactos-pag .contactos-info .contactos-info-contenedor h3 strong {
            justify-content: center; } }

@media screen and (max-width: 800px) {
  main .marcas div a .logo-converse {
    display: none; } }

@media screen and (max-width: 780px) {
  footer .footer-contenedor {
    display: grid;
    grid-template-columns: repeat 2, 1fr;
    grid-template-areas: "footer footer" "footer footer";
    margin-bottom: 0; }
    footer .footer-contenedor div {
      grid-area: "footer";
      display: flex;
      flex-direction: column;
      padding: 5px;
      margin: 20px;
      justify-content: space-around;
      align-items: start;
      width: auto;
      height: 240px; }
      footer .footer-contenedor div h3 {
        font-weight: 600; }
    footer .footer-contenedor .redes {
      margin-top: 50px;
      justify-content: center;
      align-items: center;
      height: 150px; }
      footer .footer-contenedor .redes ul li a img {
        width: 40px;
        height: 40px; } }

@media screen and (max-width: 750px) {
  main .rebajas-img {
    display: flex;
    justify-content: center;
    align-items: center; }
    main .rebajas-img a .rebajas-60 {
      display: none; }
    main .rebajas-img a .nuevas-rebajas {
      display: flex;
      flex-wrap: wrap;
      width: 400px;
      height: 400px; } }

@media screen and (max-width: 700px) {
  footer .suscripcion {
    width: auto;
    justify-content: center;
    text-align: center; }
    footer .suscripcion .suscripcion-titulo h2 {
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      width: auto; }
    footer .suscripcion .suscripcion-mail form ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      list-style: none;
      width: 400px;
      margin: 0;
      padding: 0; }
      footer .suscripcion .suscripcion-mail form ul li {
        justify-content: center;
        align-items: center;
        width: 320px;
        height: 35px; }
        footer .suscripcion .suscripcion-mail form ul li .suscribite-footer {
          height: 30px;
          width: 300px;
          font-size: 14px;
          margin: 3px;
          margin-right: 20px; }
        footer .suscripcion .suscripcion-mail form ul li button {
          height: 30px;
          width: 100px;
          background-color: #FF2931;
          border: 2px black solid;
          font-size: 10px; }
  footer .footer-contenedor div h3 {
    font-family: 'Lato', sans-serif;
    font-size: 17px; }
  footer .footer-contenedor ul li a p {
    font-family: 'Lato', sans-serif;
    font-size: 11px; }
  .nosotros-pag .nosotros-contenedor .nosotros-info h3 {
    font-size: 25px;
    margin: 10px 7px 10px 7px; }
  .nosotros-pag .nosotros-contenedor .nosotros-info p {
    font-size: 15px;
    margin: 10px 7px 10px 7px; } }

@media screen and (max-width: 600px) {
  .calzado-pag .calzado-contenedor {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px; }
    .calzado-pag .calzado-contenedor .productos {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 6px;
      padding: 1px; }
      .calzado-pag .calzado-contenedor .productos a {
        text-decoration: none;
        color: black;
        text-align: center;
        justify-content: center;
        width: 110px;
        height: auto; }
        .calzado-pag .calzado-contenedor .productos a img {
          width: 110px;
          height: 110px;
          text-align: center;
          justify-content: center; }
        .calzado-pag .calzado-contenedor .productos a h3 {
          font-family: 'Lato', sans-serif;
          text-align: center;
          justify-content: center;
          font-size: 10px;
          width: 110px;
          height: 15px;
          margin-bottom: 4px; }
        .calzado-pag .calzado-contenedor .productos a .precios-contenedor {
          display: flex;
          flex-direction: row;
          margin-bottom: 5px;
          margin-top: 15px; }
          .calzado-pag .calzado-contenedor .productos a .precios-contenedor strong {
            font-size: 9px;
            margin: 4px;
            margin-top: 6px; }
          .calzado-pag .calzado-contenedor .productos a .precios-contenedor del {
            font-size: 8px;
            margin: 4px;
            margin-top: 6px; }
  .indumentaria-pag .indumentaria-contenedor {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px; }
    .indumentaria-pag .indumentaria-contenedor .productos {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 6px;
      padding: 1px; }
      .indumentaria-pag .indumentaria-contenedor .productos a {
        text-decoration: none;
        color: black;
        text-align: center;
        justify-content: center;
        width: 110px;
        height: auto; }
        .indumentaria-pag .indumentaria-contenedor .productos a img {
          width: 110px;
          height: 110px;
          text-align: center;
          justify-content: center; }
        .indumentaria-pag .indumentaria-contenedor .productos a h3 {
          font-family: 'Lato', sans-serif;
          text-align: center;
          justify-content: center;
          font-size: 10px;
          width: 110px;
          height: 15px;
          margin-bottom: 4px; }
        .indumentaria-pag .indumentaria-contenedor .productos a .precios-contenedor {
          display: flex;
          flex-direction: row;
          margin-bottom: 5px;
          margin-top: 15px; }
          .indumentaria-pag .indumentaria-contenedor .productos a .precios-contenedor strong {
            font-size: 9px;
            margin: 4px;
            margin-top: 6px; }
          .indumentaria-pag .indumentaria-contenedor .productos a .precios-contenedor del {
            font-size: 8px;
            margin: 4px;
            margin-top: 6px; }
  .accesorios-pag .accesorios-contenedor {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px; }
    .accesorios-pag .accesorios-contenedor .productos {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 6px;
      padding: 1px; }
      .accesorios-pag .accesorios-contenedor .productos a {
        text-decoration: none;
        color: black;
        text-align: center;
        justify-content: center;
        width: 110px;
        height: auto; }
        .accesorios-pag .accesorios-contenedor .productos a img {
          width: 110px;
          height: 110px;
          text-align: center;
          justify-content: center; }
        .accesorios-pag .accesorios-contenedor .productos a h3 {
          font-family: 'Lato', sans-serif;
          text-align: center;
          justify-content: center;
          font-size: 10px;
          width: 110px;
          height: 15px;
          margin-bottom: 4px; }
        .accesorios-pag .accesorios-contenedor .productos a .precios-contenedor {
          display: flex;
          flex-direction: row;
          margin-bottom: 5px;
          margin-top: 15px; }
          .accesorios-pag .accesorios-contenedor .productos a .precios-contenedor strong {
            font-size: 9px;
            margin: 4px;
            margin-top: 6px; }
          .accesorios-pag .accesorios-contenedor .productos a .precios-contenedor del {
            font-size: 8px;
            margin: 4px;
            margin-top: 6px; }
  .rebajas-pag .rebajas-contenedor {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px; }
    .rebajas-pag .rebajas-contenedor .imagenes-rebajas {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 6px;
      padding: 1px; }
      .rebajas-pag .rebajas-contenedor .imagenes-rebajas a {
        text-decoration: none;
        color: black;
        text-align: center;
        justify-content: center;
        width: 110px;
        height: auto; }
        .rebajas-pag .rebajas-contenedor .imagenes-rebajas a img {
          width: 110px;
          height: 110px;
          text-align: center;
          justify-content: center; }
        .rebajas-pag .rebajas-contenedor .imagenes-rebajas a .producto-rebaja {
          font-family: 'Lato', sans-serif;
          text-align: center;
          justify-content: center;
          font-size: 10px;
          width: 110px;
          height: 15px;
          margin-bottom: 4px; }
        .rebajas-pag .rebajas-contenedor .imagenes-rebajas a .precios-contenedor {
          display: flex;
          flex-direction: row;
          margin-bottom: 5px;
          margin-top: 15px; }
          .rebajas-pag .rebajas-contenedor .imagenes-rebajas a .precios-contenedor strong {
            font-size: 9px;
            margin: 4px;
            margin-top: 6px; }
          .rebajas-pag .rebajas-contenedor .imagenes-rebajas a .precios-contenedor del {
            font-size: 8px;
            margin: 4px;
            margin-top: 6px; }
  .contactos-pag {
    display: flex;
    flex-direction: column; }
    .contactos-pag .contactos-formulario {
      margin-right: 0;
      width: 100%; }
      .contactos-pag .contactos-formulario div b {
        margin: 8px;
        width: 130px;
        justify-content: center; }
      .contactos-pag .contactos-formulario div input {
        width: 350px;
        margin: 8px; }
      .contactos-pag .contactos-formulario div textarea {
        width: 350px;
        margin: 8px; }
      .contactos-pag .contactos-formulario div .enviar-contacto {
        margin-left: 150px; }
    .contactos-pag .contactos-info {
      width: 100%; }
      .contactos-pag .contactos-info .contactos-info-contenedor {
        width: auto;
        justify-content: center;
        align-items: center;
        margin-left: 20px; }
        .contactos-pag .contactos-info .contactos-info-contenedor h3 {
          justify-content: center; }
          .contactos-pag .contactos-info .contactos-info-contenedor h3 strong {
            justify-content: center; } }

@media screen and (max-width: 500px) {
  main .marcas div {
    width: auto;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column; }
    main .marcas div a img {
      width: 85px;
      height: 75px;
      margin: 12px; }
  main .moda {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; }
    main .moda .moda-contenedor {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
      align-items: center; }
      main .moda .moda-contenedor div {
        height: 250px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px; }
        main .moda .moda-contenedor div a {
          justify-content: center;
          align-items: center;
          width: auto;
          height: auto; }
          main .moda .moda-contenedor div a h3 {
            font-family: 'Lato', sans-serif;
            width: 140px;
            height: 50px;
            margin-bottom: 3px; }
          main .moda .moda-contenedor div a img {
            height: 120px;
            width: 120px;
            align-items: center;
            margin: 10px; }
      main .moda .moda-contenedor div:nth-child(4) {
        display: none; }
        main .moda .moda-contenedor div:nth-child(4) div {
          width: auto; }
          main .moda .moda-contenedor div:nth-child(4) div h3 {
            font-size: 13px; }
        main .moda .moda-contenedor div:nth-child(4) strong {
          font-size: 13px;
          justify-content: center;
          align-items: center; }
    main .moda div h2 {
      font-size: 30px;
      margin: 10px 10px 20px; }
  .contactos-pag {
    display: flex;
    flex-direction: column; }
    .contactos-pag .contactos-formulario {
      margin-right: 0;
      width: 100%; }
      .contactos-pag .contactos-formulario div b {
        margin: 8px;
        width: 130px;
        justify-content: center; }
      .contactos-pag .contactos-formulario div input {
        width: 350px;
        margin: 8px; }
      .contactos-pag .contactos-formulario div textarea {
        width: 350px;
        margin: 8px; }
      .contactos-pag .contactos-formulario div .enviar-contacto {
        margin-left: 120px; } }

@media screen and (max-width: 480px) {
  footer .suscripcion {
    width: auto;
    justify-content: center;
    text-align: center; }
    footer .suscripcion .suscripcion-titulo h2 {
      font-size: 14px;
      text-align: center;
      width: 300px; }
    footer .suscripcion .suscripcion-mail form ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      list-style: none;
      width: 300px;
      margin: 0;
      padding: 0; }
      footer .suscripcion .suscripcion-mail form ul li {
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 35px; }
        footer .suscripcion .suscripcion-mail form ul li .suscribite-footer {
          height: 30px;
          width: 170px;
          font-size: 14px;
          margin: 5px;
          text-align: center; }
        footer .suscripcion .suscripcion-mail form ul li button {
          height: 30px;
          width: 100px;
          background-color: #FF2931;
          border: 2px black solid;
          font-size: 10px;
          align-items: center; }
  footer .footer-contenedor {
    display: grid;
    grid-template-columns: repeat 2, 1fr;
    grid-template-areas: "footer footer" "footer footer";
    margin-bottom: 0; }
    footer .footer-contenedor div {
      grid-area: "footer";
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      width: auto;
      height: 220px;
      font-size: 12px;
      gap: 3px;
      margin-bottom: 4px;
      padding: 0; }
      footer .footer-contenedor div h3 {
        font-family: 'Lato', sans-serif;
        font-size: 11px;
        width: 100%;
        height: auto;
        margin-bottom: 0; }
      footer .footer-contenedor div ul {
        padding: 2px;
        margin: 2px;
        margin-top: 0; }
        footer .footer-contenedor div ul li a p {
          margin: 7px;
          font-size: 11px; }
      footer .footer-contenedor div .redes {
        margin-top: 12px;
        justify-content: center;
        align-items: start;
        height: auto; } }

@media screen and (max-width: 400px) {
  main .rebajas-img {
    display: flex;
    justify-content: center;
    align-items: center; }
    main .rebajas-img a .rebajas-60 {
      display: none; }
    main .rebajas-img a .nuevas-rebajas {
      display: flex;
      flex-wrap: wrap;
      width: 280px;
      height: 280px; } }

@media screen and (max-width: 390px) {
  footer .footer-contenedor .redes h3 {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    text-align: center; }
  footer .footer-contenedor .redes ul li a img {
    width: 35px;
    height: 35px; }
  footer .footer-contenedor .redes div {
    grid-area: "footer";
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: start;
    width: auto;
    height: 240px;
    font-size: 10px;
    gap: 1px;
    margin-bottom: 2px;
    padding: 0; } }
