
/*!----TIPOGRAFÍA----/*/


@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Russo+One&family=Signika:wght@700&display=swap');


/*!----RESET----/*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


