@media screen and (max-width:1400px) {
    main{
        .marcas{
            div{
                width: auto;
                height: 300px;
                align-items: center;
                justify-content: space-evenly;
                a{
                    width: auto;
                    height: auto;
                    img{
                        width: 120px;
                        height: 95px;
                    }
                }   
            }
        } 
    }
}
@media screen and (max-width:1320px){
    .calzado-pag{
        .calzado-contenedor{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 50px;
            .productos{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 12px;
                padding: 3px;
                a{
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    justify-content: center;
                    width: 250px;
                    height: auto;
                    img{
                        width: 170px;
                        height: 170px;
                        text-align: center;
                        justify-content: center;
                    }
                    h3{
                        text-align: center;
                        justify-content: center;
                        font-family: 'Lato', sans-serif;
                        font-size: 13px;
                        width: 220px;
                        height: 10px;
                    }
                    .precios-contenedor{
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 5px;
                        strong{
                            font-size: 12px;
                        }
                        del{
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
    .indumentaria-pag{
        .indumentaria-contenedor{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 50px;
            .productos{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 12px;
                padding: 3px;
                a{
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    justify-content: center;
                    width: 250px;
                    height: auto;
                    img{
                        width: 170px;
                        height: 170px;
                        text-align: center;
                        justify-content: center;
                    }
                    h3{
                        text-align: center;
                        justify-content: center;
                        font-family: 'Lato', sans-serif;
                        font-size: 13px;
                        width: 220px;
                        height: 10px;
                    }
                    .precios-contenedor{
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 5px;
                        strong{
                            font-size: 12px;
                        }
                        del{
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
    .rebajas-pag{
        .rebajas-contenedor{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 50px;
            .imagenes-rebajas{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 12px;
                padding: 3px;
                a{
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    justify-content: center;
                    width: 250px;
                    height: auto;
                    img{
                        width: 170px;
                        height: 170px;
                        text-align: center;
                        justify-content: center;
                    }
                    .producto-rebaja{
                        text-align: center;
                        justify-content: center;
                        font-family: 'Lato', sans-serif;
                        font-size: 13px;
                        width: 220px;
                        height: 10px;
                    }
                    .precios-contenedor{
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 5px;
                        strong{
                            font-size: 12px;
                        }
                        del{
                            font-size: 11px;
                        }
                    }
                }
            }            
        }
        }
    .accesorios-pag{
        .accesorios-contenedor{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 50px;
            .productos{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 12px;
                padding: 3px;
                a{
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    justify-content: center;
                    width: 250px;
                    height: auto;
                    img{
                        width: 170px;
                        height: 170px;
                        text-align: center;
                        justify-content: center;
                    }
                    h3{
                        text-align: center;
                        justify-content: center;
                        font-family: 'Lato', sans-serif;
                        font-size: 13px;
                        width: 220px;
                        height: 10px;
                    }
                    .precios-contenedor{
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 5px;
                        strong{
                            font-size: 12px;
                        }
                        del{
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1230px){
    main{
        .recomendados{
            .recomendados-contenedor{
                margin-top: 30px;
                div{
                    width: auto;
                    height: auto;
                    a{
                        text-decoration: none;
                        color: black;
                        justify-content: center;
                        align-items: center;
                        height: 260px;
                        img{
                            width: 160px;
                            height: 160px;
                            margin-bottom: 10px;
                            margin-top: 10px;
                        }
                        h3{
                            font-family: 'Lato', sans-serif;
                            margin: 10px 10px 10px 10px;
                            font-size: 14px;
                            width:  160px;
                        }
                        div{
                            height: auto;
                            strong{
                                font-size: 13px;
                            }
                            del{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1200px){
    main{   
        .moda{
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
            .moda-contenedor{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 5px;
                justify-content: center;
                align-items: center;
                width: 100%;
                div{
                    height: 320px;
                    margin-bottom: 5px;
                    justify-content: center;
                    align-items: center;
                    width: auto;
                    a{
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        img{
                            height: 210px;
                            width: 210px;
                        }
                        h3{
                            font-family: 'Lato', sans-serif;
                            text-align: center;
                            font-size: 14px;
                            height: 15px;
                        }
                        div{
                            justify-content: center;
                            align-items: center;
                            margin-top: 0;
                        }
                    }
                }
                div:nth-child(4){
                    display: none;
                }
            }
        }
        .disciplinas{
            margin-bottom: 100px;
            .disciplinas-contenedor{
                div{
                    width: 380px;
                    height: 240px;
                    margin: 10px;
                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        img{
                            display: flex;
                            width: 380px;
                            height: 240px;
                            flex-wrap: wrap;
                        }
                    }
                }
            }
        }
    }
    .contactos-pag{
        width: 100%;
        .contactos-formulario{
            flex-wrap: wrap;
            float: none;
            width: 70%;
            div{
                width: 100%;
                margin-left: 5px;
                b{
                    width: 100px;
                    margin-left: 10px;
                    font-size: 15px;
                }
                input{
                    width: 50%;
                    height: 30px;
                    margin-left: 30px;
                }
            }
        }
        .contactos-info{
            float: none;
            width: 30%;
        }
    }
}

@media screen and (max-width:1100px){
    .calzado-pag{
        .calzado-contenedor{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 50px;
            .productos{
                width: 170px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 12px;
                padding: 3px;
                a{
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    justify-content: center;
                    width: 170px;
                    height: auto;
                    img{
                        width: 130px;
                        height: 130px;
                    }
                    h3{
                        font-family: 'Lato', sans-serif;
                        text-align: center;
                        justify-content: center;
                        font-size: 11px;
                        width: 165px;
                        height: 10px;
                    }
                    .precios-contenedor{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        strong{
                            font-size: 9px;
                            margin: 2px;
                            margin-top: 5px;
                        }
                        del{
                            font-size: 8px;
                            margin: 2px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
    .indumentaria-pag{
        .indumentaria-contenedor{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 50px;
            .productos{
                width: 170px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 12px;
                padding: 3px;
                a{
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    justify-content: center;
                    width: 170px;
                    height: auto;
                    img{
                        width: 130px;
                        height: 130px;
                    }
                    h3{
                        font-family: 'Lato', sans-serif;
                        text-align: center;
                        justify-content: center;
                        font-size: 11px;
                        width: 165px;
                        height: 10px;
                    }
                    .precios-contenedor{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        strong{
                            font-size: 9px;
                            margin: 2px;
                            margin-top: 5px;
                        }
                        del{
                            font-size: 8px;
                            margin: 2px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
    .accesorios-pag{
        .accesorios-contenedor{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 50px;
            .productos{
                width: 170px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 12px;
                padding: 3px;
                a{
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    justify-content: center;
                    width: 170px;
                    height: auto;
                    img{
                        width: 130px;
                        height: 130px;
                    }
                    h3{
                        font-family: 'Lato', sans-serif;
                        text-align: center;
                        justify-content: center;
                        font-size: 11px;
                        width: 165px;
                        height: 10px;
                    }
                    .precios-contenedor{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        strong{
                            font-size: 9px;
                            margin: 2px;
                            margin-top: 5px;
                        }
                        del{
                            font-size: 8px;
                            margin: 2px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
    .rebajas-pag{
        .rebajas-contenedor{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 50px;
            .imagenes-rebajas{
                width: 170px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 12px;
                padding: 3px;
                a{
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    justify-content: center;
                    width: 170px;
                    height: auto;
                    img{
                        width: 130px;
                        height: 130px;
                    }
                    .producto-rebaja{
                        font-family: 'Lato', sans-serif;
                        text-align: center;
                        justify-content: center;
                        font-size: 11px;
                        width: 165px;
                        height: 10px;
                    }
                    .precios-contenedor{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        strong{
                            font-size: 9px;
                            margin: 2px;
                            margin-top: 5px;
                        }
                        del{
                            font-size: 8px;
                            margin: 2px;
                            margin-top: 5px;
                        }
                    }
                }
            }
            .carousel-rebajas{
                width: 230px;
                height: 230px;
            } 
        }
    }
}

@media screen and (max-width:1050px){
    main{
        .recomendados{
            h2{
                font-size:24px;
            }
            .recomendados-contenedor{
                display: flex;
                flex-direction: column;
                div{
                    width: auto;
                    margin-top: 10px;
                    a{
                        text-decoration: none;
                        color: black;
                        justify-content: space-around;
                        align-items: center;
                        height: 280px;
                        img{
                            width: 200px;
                            height: 200px;
                            margin-bottom: 10px;
                            margin-top: 10px;
                        }
                        h3{
                            font-family: 'Lato', sans-serif;
                            margin: 10px 10px 10px 10px;
                            font-size: 14px;
                            width: auto;
                            div{
                                height: auto;
                                strong{
                                    font-size: 12px;
                                }
                                del{
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        div{
            justify-content: space-around;
        }
        .footer-contenedor{
            div{
                width: 100%;
            }
        }
        .redes{
            margin-top: 20px;
        }
    }
}

@media screen and (max-width:1000px) {
    header{
        h2{
            font-family: 'Lato', sans-serif;
            div{
                justify-content: space-between;
            }
        }
    }
}

@media screen and (max-width:991px){

    .rebajas-pag{
        .rebajas-contenedor{
            .carousel-rebajas{
                width: 250px;
                height: 250px;
            }
        }
    }
}

@media screen and (max-width:990px) {
    .calzado-pag{
        .calzado-filtro{
            display: none;
        }
    }
    .indumentaria-pag{
        .indumentaria-filtro{
            display: none;
        }
    }
    .accesorios-pag{
        .accesorios-filtro{
            display: none;
        }
    }
    .rebajas-pag{
        .rebajas-filtro{
            display: none;
        }    
        .rebajas-contenedor{
            .carousel-rebajas{
                width: 200px;
                height: 200px;
            }
        }
    }    
}

@media screen and (max-width:900px){
    .rebajas-pag{
        .rebajas-img {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: auto;
            height: auto;
            a{
                .nuevas-rebajas{
                    display: flex;
                    flex-wrap: wrap;
                    width: 500px;
                    height: 500px;
                }
                .rebajas-60{
                    display: none;
                    
                }
            }
        }
    }
    .nosotros-pag{
        .nosotros-contenedor{
            display: flex;
            flex-direction: column;
            .nosotros-info{
                width: 100%;
                justify-content: center;
                align-items: center;
            }
            .nosotros-lista{
                display: none;
            }
        }
    }
    
}

@media screen and (max-width:850px){
    main{
        .disciplinas{
            .disciplinas-contenedor{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                div{
                    a{
                        gap: 5px;
                        img{
                            width: 340px;
                            height: 210px;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
    .contactos-pag{
        display: flex;
        flex-direction: column;
        .contactos-formulario{
            width: 100%;
            div{
                b{
                    margin: 5px;
                    width: 150px;
                    justify-content: center;
                }
                input{
                    width: 400px;
                    margin: 6px;
                }
                textarea{
                    width: 400px;
                    margin-left: 0;
                    margin: 6px;
                }
                .enviar-contacto{
                    margin-left: 170px;
                }
            }
        }
        .contactos-info{
            width: 100%;
            .contactos-info-contenedor{
                width: 100%;
                justify-content: center;
                align-items: center;
                margin-left: 40px;
                h3{
                    justify-content: center;
                    strong{
                        justify-content: center;
                    }
                }
                div{
                    p{
                        
                    }
                }
                div{
                    address{
                        p{
                        }
                    }
                }
                .contacto-email{
                    a{
                        p{
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width:800px) {
    main{
        .marcas{        
            div{
                a{
                    .logo-converse {
                        display:none;
                    }
                } 
            }
        }
    }
}

@media screen and (max-width:780px){
    footer{
        .footer-contenedor{
            display: grid;
            grid-template-columns: repeat (2, 1fr);
            grid-template-areas:
                "footer footer"
                "footer footer"
                ;
            margin-bottom: 0;
            div{
                grid-area: "footer";
                display: flex;
                flex-direction: column;
                padding: 5px;
                margin: 10px;
                justify-content: space-around;
                align-items: start;
                width: auto;
                height: 240px;
            }
        }
        .redes{
            margin: 5px;
            justify-content: center;
            align-items: start;
            height: 150px;
            ul{
                margin-top: 0;
                li{
                    a{
                        img{
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:750px) {
    main{
        .rebajas-img{
            a{
                .rebajas-60{
                    display: none;
                }
                .nuevas-rebajas{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    height: 400px;
                }
            }
        }
    }
}

@media screen and (max-width:700px){
    footer{
        .suscripcion{
            width: auto;
            justify-content: center;
            text-align: center;
            .suscripcion-titulo{
                h2{
                    font-family: 'Lato', sans-serif;
                    font-size: 16px;
                    width: auto;
                }
            }
            .suscripcion-mail{
                form{
                    ul{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        list-style: none;
                        width: 400px;
                        margin: 0;
                        padding: 0;
                        li{
                            justify-content: center;
                            align-items: center;
                            width: 320px;
                            height: 35px;
                            .suscribite-footer{
                                height: 30px;
                                width: 300px;
                                font-size: 14px;
                                margin: 3px;
                                margin-right: 20px;
                            }
                            button{
                                height: 30px;
                                width: 100px;
                                background-color: #FF2931;
                                border: 2px black solid;
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
        .footer-contenedor{
            div{
                h3{
                    font-family: 'Lato', sans-serif;
                    font-size: 17px;
                }
            }
            ul{
                li{
                    a{
                        p{
                            font-family: 'Lato', sans-serif;
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width:600px){
    .calzado-pag{
        .calzado-contenedor{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 30px;
            .productos{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 6px;
                padding: 1px;
                a{
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    justify-content: center;
                    width: 110px;
                    height: auto;
                    img{
                        width: 110px;
                        height: 110px;
                        text-align: center;
                        justify-content: center;
                    }
                    h3{
                        font-family: 'Lato', sans-serif;
                        text-align: center;
                        justify-content: center;
                        font-size: 10px;
                        width: 110px;
                        height: 15px;
                        margin-bottom: 4px;
                    }
                    .precios-contenedor{
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 5px;
                        margin-top: 15px;
                        strong{
                            font-size: 9px;
                            margin: 4px;
                            margin-top: 6px;
                        }
                        del{
                            font-size: 8px;
                            margin: 4px;
                            margin-top: 6px;
                        }
                    }
                }
            }
        }
    }
    .indumentaria-pag{
        .indumentaria-contenedor{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 30px;
            .productos{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 6px;
                padding: 1px;
                a{
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    justify-content: center;
                    width: 110px;
                    height: auto;
                    img{
                        width: 110px;
                        height: 110px;
                        text-align: center;
                        justify-content: center;
                    }
                    h3{
                        font-family: 'Lato', sans-serif;
                        text-align: center;
                        justify-content: center;
                        font-size: 10px;
                        width: 110px;
                        height: 15px;
                        margin-bottom: 4px;
                    }
                    .precios-contenedor{
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 5px;
                        margin-top: 15px;
                        strong{
                            font-size: 9px;
                            margin: 4px;
                            margin-top: 6px;
                        }
                        del{
                            font-size: 8px;
                            margin: 4px;
                            margin-top: 6px;
                        }
                    }
                }
            }
        }
    }
    .accesorios-pag{
        .accesorios-contenedor{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 30px;
            .productos{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 6px;
                padding: 1px;
                a{
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    justify-content: center;
                    width: 110px;
                    height: auto;
                    img{
                        width: 110px;
                        height: 110px;
                        text-align: center;
                        justify-content: center;
                    }
                    h3{
                        font-family: 'Lato', sans-serif;
                        text-align: center;
                        justify-content: center;
                        font-size: 10px;
                        width: 110px;
                        height: 15px;
                        margin-bottom: 4px;
                    }
                    .precios-contenedor{
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 5px;
                        margin-top: 15px;
                        strong{
                            font-size: 9px;
                            margin: 4px;
                            margin-top: 6px;
                        }
                        del{
                            font-size: 8px;
                            margin: 4px;
                            margin-top: 6px;
                        }
                    }
                }
            }
        }
    }
    .rebajas-pag{
        .rebajas-contenedor{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 30px;
            .imagenes-rebajas{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 6px;
                padding: 1px;
                a{
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    justify-content: center;
                    width: 110px;
                    height: auto;
                    img{
                        width: 110px;
                        height: 110px;
                        text-align: center;
                        justify-content: center;
                    }
                    .producto-rebaja{
                        font-family: 'Lato', sans-serif;
                        text-align: center;
                        justify-content: center;
                        font-size: 10px;
                        width: 110px;
                        height: 15px;
                        margin-bottom: 4px;
                    }
                    .precios-contenedor{
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 5px;
                        margin-top: 15px;
                        strong{
                            font-size: 9px;
                            margin: 4px;
                            margin-top: 6px;
                        }
                        del{
                            font-size: 8px;
                            margin: 4px;
                            margin-top: 6px;
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width:500px) {
    main{
        .marcas{
            div{
                width: auto;
                height: 150px;
                align-items: center;
                justify-content: space-evenly;
                display: flex;
                flex-direction: column;
                a{
                    img{
                        width: 85px;
                        height: 75px;
                        margin: 12px;
                    }
                }
            }
        }
        .moda {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            .moda-contenedor{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 5px;
                align-items: center;
                div{
                    height: 250px;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 20px;
                    a{
                        justify-content: center;
                        align-items: center;
                        width: auto;
                        height: auto;
                        h3{
                            font-family: 'Lato', sans-serif;
                            width: 140px;
                            height: 50px;
                            margin-bottom: 3px;
                        }
                        img{
                            height: 120px;
                            width: 120px;
                            align-items: center;
                            margin: 10px;
                        }
                    }
                }
                div:nth-child(4){
                    display: none;
                    div{
                        width: auto;
                        h3{
                            font-size: 13px;
                        }
                    }
                    strong{
                        font-size: 13px;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            div{
                h2{
                    font-size: 30px;
                    margin: 10px 10px 20px;
                }
            }
        }
    }
}



@media screen and (max-width:480px){
    footer{
        .suscripcion{
            width: auto;
            justify-content: center;
            text-align: center;
            .suscripcion-titulo{
                h2{
                    font-size: 14px;
                    text-align: center;
                    width: 300px;
                }
            }
            .suscripcion-mail{
                form{
                    ul{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        list-style: none;
                        width: 300px;
                        margin: 0;
                        padding: 0;
                        li{
                            justify-content: center;
                            align-items: center;
                            width: 250px;
                            height: 35px;
                            .suscribite-footer{
                                height: 30px;
                                width: 170px;
                                font-size: 14px;
                                margin: 5px;
                                text-align: center;
                            }
                            button{
                                height: 30px;
                                width: 100px;
                                background-color: #FF2931;
                                border: 2px black solid;
                                font-size: 10px;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
        .footer-contenedor{
            display: grid;
            grid-template-columns: repeat (2, 1fr);
            grid-template-areas:
                "footer footer"
                "footer footer"
            ;
            margin-bottom: 0;
            div{
                grid-area: "footer";
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                width: auto;
                height: 220px;
                font-size: 12px;
                gap: 3px;
                margin-bottom: 4px;
                padding: 0;
                h3{
                    font-family: 'Lato', sans-serif;
                    font-size: 11px;
                    width: 100%;
                    height: auto;
                    margin-bottom: 0;
                }
                ul{
                    padding: 2px;
                    margin: 2px;
                    margin-top: 0;
                    li{
                        a{
                            p{
                                margin: 7px;
                                font-size: 11px;
                            }
                        }
                    }
                }
                .redes{
                    margin-top: 12px;
                    justify-content: center;
                    align-items: start;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width:390px){
    footer{
        .footer-contenedor{
            .redes{
                h3{
                    font-family: 'Lato', sans-serif;
                    font-size: 11px;
                    text-align: center;
                }
                ul{
                    li{
                        a{
                            img{
                                width: 35px;
                                height: 35px;
                            }
                        }
                    }
                }
                div{
                    grid-area: "footer";
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-items: start;
                    width: auto;
                    height: 240px;
                    font-size: 10px;
                    gap: 1px;
                    margin-bottom: 2px;
                    padding: 0;
                }
            }
        }
    }
}
